---
import Global from '../components/global.astro'
import Header from '../components/header.astro'
import Accolades from '../components/accolades.astro'
import Footer from '../components/footer.astro'

const { content } = Astro.props
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<Global/>
        <title>{content.title} | Golden Boy Productions</title>
	</head>
	<body>
		<Header/>
		<main>
			<h1>
				{content.title}
				<span class="year">
					({content.released.substr(0, 4)})
				</span>
			</h1>
			<section class="movie">
				<iframe
					src={`https://www.youtube.com/embed/${content.id}`}
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen
				/>
			</section>
			<section class="credits">
				<h2>Credits</h2>
				<ul>
					{content.credits.map(credit => <li>{credit}</li>)}
				</ul>
			</section>
			<section>
				<h2>Synopsis</h2>
				<p><slot/></p>
			</section>
			<section class="accolades">
				<Accolades from={content.accolades}/>
			</section>
		</main>
		<Footer/>
	</body>
</html>

<style>
	body
	{
		max-width: 1440px;
		margin: auto;
	}

	main
	{
		display: grid;
		grid-template-columns: auto auto;
	}

	section.movie
	{
		aspect-ratio: 16 / 9;
		width: calc(100vw - 24vw);
		max-width: 1095px;
		margin: 0 12vw;
		background-color: var(--black);
		border: 2px solid var(--black);
		box-sizing: border-box;

		z-index: 1;
		position: relative;
		order: -1;
		grid-row: 1;
		grid-column: 1 / -1;
	}

	section.movie:hover
	{
		z-index: 99;
	}

	iframe
	{
		width: 100%;
		height: 100%;
	}

	h1
	{
		font-size: 4.5rem;
		font-weight: normal;
		letter-spacing: -0.03em;
		line-height: 1.1;
		text-rendering: geometricPrecision; 
		-webkit-font-smoothing: antialiased;    
		-moz-osx-font-smoothing: grayscale;

		margin: 40px 80px;
	}

	.year
	{
		display: block;
		font-size: 2rem;
		letter-spacing: 0.03em;
	}

	h2
	{
		font-size: 2rem;
	}

	main :global(p)
	{
		max-width: 60ch;
		letter-spacing: 0.03em;
		word-spacing: 0.3em;
		line-height: 1.6;
	}

	h2,
	main :global(p)
	{
		margin: 10px 80px 20px;
	}

	ul, li
	{
		list-style: none;
		margin: 0;
		padding: 5px 0;
		font-size: 1.4rem;
		line-height: 1.6;
		text-align: center;
	}

	section.credits
	{
		border: solid 2px var(--black);
		background-color: var(--white);
		padding: 20px 30px;
		margin-right: 80px;
		max-width: 300px;
		grid-column: 2;
		grid-row: 2 / 5;
		text-align: center;

		transform: translateY(-30px);
		z-index: 10;
	}

	section.accolades
	{
		margin: 30px 10px 0 70px;
	}

	@media screen and (min-width: 1440px)
	{
		section.movie
		{
			margin: 0 172px;
		}
	}

	@media screen and (max-width: 950px)
	{
		main
		{
			grid-template-columns: auto;
		}

		section.credits
		{
			margin: 60px 60px 0;
			max-width: 100%;
			grid-column: auto;
			grid-row: 5 / 6;
			transform: none;
		}
	}

	@media screen and (max-width: 760px)
	{
		section.movie
		{
			width: 100%;
			margin: 0;
		}

		h1
		{
			font-size: 4rem;
		}

		h1,
		h2,
		main :global(p)
		{
			margin: 30px;
		}

		section.accolades
		{
			margin: 30px 20px 60px;
		}

		section.credits
		{
			margin: 0px 15px;
		}
	}
</style>
